<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>MongoDB Test "Hello"</h1>
    <p>Show documents in "current" collection</p>
    <ul>
    <% for(var i = 0; i < list.length; i++) {%>
      <li><%= JSON.stringify(list[i])%></li>
    </ul>
    <% } %>
  </body>
</html>
