<!DOCTYPE html>
<html>
  <head>
    <title>mongo-express</title>
  </head>
  <body>
    <h1>Hello Mongo</h1>
    <p>Welcome to Mongo</p>
    <div style="border:solid 1px;">안녕하세요.</div>
    <div style="border:dotted 1px;">반갑습니다.</div>
    <p>
    실행중입니다.
    <p>



    <p>
  	<input type="button" value="페이지 이동" onclick="movepage()"/>
  	<script type="text/javascript">
  		function movepage(){
  			location.href="/hello";
  		}
  	</script>
  </body>
</html>
